.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: black;
  margin: 1rem;
  width: 100%;
}

.barraSuperior {
  flex-direction: row;
  justify-content: space-between;
}

.barraInferior {
  flex-direction: row;
}

.tablaDetalle {
  margin: 1rem;
  width: 75%;
  height: 100%;
  background-color: coral;
}

.barraLateral {
  width: 25%;
}

.tarjetaInfo {
  background-color: grey;
  border-radius: 2px;
  margin : 2px
}

.tarjetaLista {
  background-color: grey;
  border-radius: 2px;
  margin: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
