:root {
  --font1: "Poppins", sans-serif;
  --font2: "Bebas Neue", cursive;
  --font3: "Montserrat", sans-serif;
  --gray-100: rgb(245, 238, 228);
  --gray-200: rgb(233, 227, 214);
  --gray-500: rgb(133, 128, 118);
  --gray-600: rgb(99, 93, 75);
  --gray-700: rgb(81, 70, 55);
  --gray-800: rgb(55, 47, 31);  
  --gray-900: rgb(39, 34, 17);
  --gray-smoky: rgb(64, 62, 60);
  --naranja: #e4ab41;
}

* {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}


body {
  box-sizing: border-box;
  background-color: var(--gray-500);
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 2rem;
  color: var(--gray-900);
  padding: 1rem;
}

h2 {
  font-size: 1rem;
  color: rgb(39, 34, 17);
}

div {
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: .5rem;
}

ul {
  padding: 1,5rem;
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(39, 34, 17);
}

.barraSuperior {
  margin:0 auto;
  padding: 2rem;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 2rem;}

.barraInferior {
  margin:0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: stretch;
}

.tablaDetalle{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
-webkit-box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
-moz-box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
background-color: #e4ab41;
color:rgba(253, 252, 252, 0.9);

}

.headDetalle {
  color:rgba(253, 252, 252, 0.9);
}

table {
  background-color: rgba(29, 29, 29, 0.49);
  border-collapse: collapse;
  width: 90%;
  padding: 0;
  border-radius: .5rem;
}

.barraLateral{
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.tarjetaInfo {
  color: rgb(39, 34, 17);
  background-color: var(--gray-100);
  box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
-webkit-box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
-moz-box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
}

.link {
  text-decoration: none;
  color: #e4ab41;
  padding-top: 0;
  margin-top: 0;
}

.tarjetaInfo div {
  border-radius: 0;
  border-top: rgb(39, 34, 17) solid 2px;
}

.logo {
  display: flex;
  align-items: center;
  width: 20%;
  height: 20%;
  margin-top: 2rem;
  padding-left: 2rem;
}

.header {
  width: 97%;
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--gray-100);
  box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
  -webkit-box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
  -moz-box-shadow: 15px 13px 30px -13px rgba(0,0,0,0.49);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
  }



.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: stretch;
}